In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [6]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
iris = iris.drop(labels = 'species', axis = 1)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [9]:
iris['sepal_sum'] = iris['sepal_length'] + iris['sepal_width']
iris['petal_sum'] = iris['petal_length'] + iris['petal_width']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum  petal_sum
0           5.1          3.5           1.4          0.2        8.6        1.6
1           4.9          3.0           1.4          0.2        7.9        1.6
2           4.7          3.2           1.3          0.2        7.9        1.5
3           4.6          3.1           1.5          0.2        7.7        1.7
4           5.0          3.6           1.4          0.2        8.6        1.6

In [88]:
mean = [np.mean(iris['sepal_length']),
        np.mean(iris['sepal_width']), 
        np.mean(iris['sepal_sum']), 
        np.mean(iris['petal_length']),
        np.mean(iris['petal_width']),
        np.mean(iris['petal_sum'])]

summary_dict = {'mean':mean}

summary_df = pd.DataFrame(data = summary_dict)
summary_df

       mean
0  5.843333
1  3.057333
2  8.900667
3  3.758000
4  1.199333
5  4.957333

In [87]:
iris.min()

sepal_length    4.3
sepal_width     2.0
petal_length    1.0
petal_width     0.1
sepal_sum       6.8
petal_sum       1.2
dtype: float64

In [33]:
iris.max()

sepal_length     7.9
sepal_width      4.4
petal_length     6.9
petal_width      2.5
sepal_sum       11.7
petal_sum        9.2
dtype: float64

In [52]:
iris.std()

sepal_length    0.828066
sepal_width     0.435866
petal_length    1.765298
petal_width     0.762238
sepal_sum       0.889272
petal_sum       2.507689
dtype: float64

In [92]:
my_dict = {'Mean': ['5.843333','3.057333','8.900667','3.758000','1.199333','4.957333'],
           'Std': ['0.828066','0.435866','1.765298','0.762238','0.889272','2.507689'],
           'Min': ['4.3','2.0','1.0','0.1','6.8','1.2'],
           'Max': ['7.9','4.4','6.9','2.5','11.7','9.2']}
df = pd.DataFrame(my_dict)
df1 = pd.DataFrame(my_dict, columns = ['Mean', 'Std', 'Min','Max'])
df1

       Mean       Std  Min   Max
0  5.843333  0.828066  4.3   7.9
1  3.057333  0.435866  2.0   4.4
2  8.900667  1.765298  1.0   6.9
3  3.758000  0.762238  0.1   2.5
4  1.199333  0.889272  6.8  11.7
5  4.957333  2.507689  1.2   9.2

In [94]:
new_df = pd.DataFrame(my_dict, index = ['sepal_length',
                                        'sepal_width',
                                        'sepal_sum', 
                                        'petal_length',
                                        'petal_width',
                                        'petal_sum'])
new_df

                  Mean       Std  Min   Max
sepal_length  5.843333  0.828066  4.3   7.9
sepal_width   3.057333  0.435866  2.0   4.4
sepal_sum     8.900667  1.765298  1.0   6.9
petal_length  3.758000  0.762238  0.1   2.5
petal_width   1.199333  0.889272  6.8  11.7
petal_sum     4.957333  2.507689  1.2   9.2